/* src/components/OptionSelector.css */
.option-selector {
  
  /* width: 100%; */ /* Todo el ancho */
  /* max-width: 1200px; */
  max-width: 100vw;
   margin: 0 auto; 
  /* padding: 10px; */
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  padding: 10px;
  /* overflow-x: auto; */
  /* width: 100%;
  justify-content: space-around; */
}

.options button {
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  background-color: #8b5e3c;
  color: white;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.options button:hover:not(:disabled) {
  background-color: #6f4a2e;
  transform: translateY(-3px);
}

.options button:disabled {
  background-color: #b0a8a0;
  cursor: not-allowed;
  transform: none;
}

@media (max-width: 768px) {
  .option-selector {
    padding: 0;
  }
  .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}