/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.game {
  text-align: center;
  background: #f5f1ed url('https://www.transparenttextures.com/patterns/dog-paw.png') repeat;
  min-height: 100vh;
  /* max-height: 100vh; */
  font-family: 'Poppins', sans-serif;
  color: #4a3f35;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.image-grid {
  padding: 10px;
  flex: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Permite que las imágenes se envuelvan en varias filas */
  gap: 10px;
}

/* Ajuste para pantallas intermedias (tablets) */
/* @media (max-width: 1000px) and (min-width: 769px) {
  .image-grid {
    flex-wrap: wrap; 
    justify-content: center;
    gap: 15px;
  }
} */

@media (max-width: 768px) {
  .game {
    flex-direction: column;
    /* padding-bottom: 60px; */ /* Restaurar el valor original en móvil */
  }
  .image-grid {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}